*.iml
*.lock
*.log
.dart_tool/
.packages
build/
.pub/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.playwright-mcp/
android/.gradle/
android/app/build/
android/local.properties
ios/Pods/
ios/.symlinks/
.env
